/*-------------Responsive-Css----------*/


/*-------------Home-Page-Css----------*/

@media (max-width: 1199.98px) {
    .slick-prev {
        left: 22px;
    }
    .slick-next {
        left: 22px;
    }
    .main-div .slick-dots {
        margin-left: 20px;
    }
    .main-div .slick-dots li.slick-active button {
        padding-left: 27px;
    }
    .main-div .slick-dots li.slick-active button {
        padding-left: 27px;
    }
    .navbar-light .navbar-nav {
        margin-right: 0;
    }
    .about-img img {
        margin-top: 30%;
    }
    .accordian .bg-2.price-card {
        right: 145px;
    }
    .accordian .bg-3.price-card {
        left: 144px;
    }
    .accordian .bg-4.price-card {
        right: 15px;
    }
    .team-img {
        width: 165px;
        height: 240px
    }
    .social-icon {
        padding: 16px 13px;
    }
    .team-card li {
        margin-bottom: 19px;
    }
    .date {
        top: 34%;
    }
    .footer-border {
        margin-top: 50px;
    }
    .partners-box li:nth-child(3) .partners {
        margin-right: 30px;
    }
    .partners-box li:nth-child(6) .partners {
        margin-right: 30px;
    }
    .model-img {
    width: 65%;
    height: auto !important;
}
}

@media(max-width: 991.98px) {
    .main-div .slick-dots {
        margin-left: 0;
    }
    .slick-prev {
        left: 25px;
    }
    .slick-next {
        left: 25px;
    }
    .about-img img {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .fun-fact {
        margin-bottom: 30px;
    }
    .accordian .bg-1.price-card {
        position: relative;
        width: 100%;
    }
    .accordian .bg-2.price-card {
        position: relative;
        width: 100%;
        right: 0;
    }
    .accordian .bg-3.price-card {
        position: relative;
        width: 100%;
        left: 0;
    }
    .accordian .bg-4.price-card {
        position: relative;
        width: 100%;
        right: 0;
    }
    .team-card {
        margin-bottom: 30px;
    }
    .team-img {
        margin-top: 0;
    }
    .pricing .mb-5, .my-5 {
        margin-bottom: 0 !important;
    }
    .testi-img {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .date {
        top: 38%;
    }
    .service-side-bar {
    margin-bottom: 0;
    margin-top: 50px;
}
.contact-us-form {
    margin-bottom: 30px;
}
.content-404 {
    position: absolute;
    bottom: 110px;
    width: 100%;
}
.page-404-content h2 {
    font-size: 100px;
    margin-bottom: 90px;
}
.page-404-content h1 {
    font-size: 245px;
    margin-bottom: 70px;
}
.page-404-content h3 {
    font-size: 35px;
}
.page-404-content a {
    font-size: 18px;
}

}

@media (max-width: 767.98px) {
    .hero-text {
        max-width: 100%;
    }
    .portfolio-filter li {
        margin-bottom: 15px;
    }
    .team-card {
        margin-bottom: 60px;
        margin-top: 30px;
    }
    .team-img {
        width: 185px;
        height: 240px;
        margin-top: -30px;
    }
    .social-icon {
        padding: 18px 19px;
    }
    .date {
        top: 27%;
    }
    .partners {
        width: 147px;
    }
    .partners-box li:nth-child(3) .partners {
        margin-right: 0;
    }
    .partners-box li:nth-child(6) .partners {
        margin-right: 0;
    }
    .footer-title h4 {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    /*------Blog-detail-page-------*/
    .comment-area li:nth-child(2) .comment-user {
        margin-left: 88px;
    }
    .comment-user img {
        width: 100px;
        height: 80px;
    }
    .btn-1 {
        margin: 30px 0 50px 15px;
    }
    .side-bar-bg {
        margin-bottom: 50px;
    }
    .model-img {
    display: none;
    }
    .content-404 {
    top: 60%;
    }

}

@media(max-width: 575.98px) {
    .hero-sub-title {
        font-size: 45px;
    }
    .hero-title {
        font-size: 50px;
    }
    .s-1 {
        margin-top: 0;
    }
    .s-2 {
        margin-top: 0;
    }
    .fun-fact-icon {
        max-width: 20%;
    }
    .fun-content {
        max-width: 80%;
    }
    .accordian .bg-1.price-card {
        position: relative;
        width: 280px;
        margin: 0 auto 30px;
    }
    .accordian .bg-2.price-card {
        position: relative;
        width: 280px;
        margin: 0 auto 30px;
    }
    .accordian .bg-3.price-card {
        position: relative;
        width: 280px;
        margin: 0 auto 30px;
    }
    .accordian .bg-4.price-card {
        position: relative;
        width: 280px;
        margin: 0 auto 30px;
    }
    .team-card {
        width: 239px;
        margin: 30px auto;
    }
    a.btn-search {
        padding: 7px 15px;
        top: 3px;
    }
    .partners {
        width: 176px;
        margin-left: 15px;
        margin-right: 10px;
    }
    .partners-box li:nth-child(3) .partners {
        margin-right: 15px;
    }
    .partners-box li:nth-child(6) .partners {
        margin-right: 15px;
    }
    .date {
        top: 52%;
    }
    .breadcrumb {
        top: 210px;
    }
    .about-icon {
        width: 15%;
        margin-right: 15px;
    }
    .about-box-content {
        width: 80%;
    }
    .about-box {
        margin-bottom: 30px;
    }
    .comment-user img {
        height: 70px;
    }
    .comment-area li:nth-child(2) .comment-user {
        margin-left: 80px;
    }
    .team-card.team-box.team-detail-icon {
    width: 255px;
    margin-top: 40px;
    margin-bottom: 40px;
}

}

@media(max-width: 450px) {
    .date {
        top: 44%;
    }
    .comment-area li:nth-child(2) .comment-user {
        margin-left: 75px;
    }
    .partners {
    margin-left: 10px;
    margin-right: 10px;
    }
    .slider-btn {   
    margin-right: 0;
    }
    .page-404-content h2 {
    font-size: 85px;
    margin-bottom: 70px;
    }
    .page-404-content h1 {
    font-size: 200px;
    margin-bottom: 55px;
    }
    .page-404-content h3 {
    font-size: 25px;
    margin-bottom: 7px;
    }
}

@media(max-width: 374.99px) {
    .main-div .slick-track {
        line-height: 0;
    }
    .partners {
        width: 134px;
        height: 64px;
    }
    .date {
        top: 40%;
    }
    .breadcrumb {
        top: 210px;
    }
    .comment-user img {
        height: 55px;
    }
    .comment-area li:nth-child(2) .comment-user {
        margin-left: 57px;
    }
    .page-404-content h2 {
    font-size: 70px;
    margin-bottom: 50px;
}
.page-404-content h1 {
    font-size: 180px;
    margin-bottom: 45px;
}
.page-404-content h3 {
    font-size: 25px;
}
.page-404-content a {
    font-size: 14px;
}
.skill > p {
    font-size: 15px;
}

}

@media(max-width: 320px) {
    .hero-sub-title {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .hero-title {
        font-size: 60px;
    }
    .comment-area li:nth-child(2) .comment-user {
        margin-left: 50px;
    }
    .comment-user img {
        height: 47px;
    }
    .quote-text:after {
        top: 0;
    }
    .quote-text:before {
        bottom: 0;
    }
    .date {
        top: 34%;
    }
}